*{
    box-sizing: border-box;
}

body {
margin: 0;
padding: 0;
}

#map {
    height: 100vh;
    width: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.draw-active {
    background-color: red;
    border-radius: 2px;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 0;
    background-clip: padding-box;
    background-color: #114357;
    opacity: 0.9;
}

.leaflet-control-layers-expanded {
    padding: 6px 10px 6px 6px;
    color: #ffffff;
    background: #fff;
}
